<%= stylesheet_link_tag('header') %>
<nav class="navbar sticky-left">
  <div class="container">
      <br>
    <div class="logo">
      <%= image_tag("logos/header_logo.png", width:'100%') %>
    </div>
  </div>
</nav>


  <div class="p-4">
  <ul class="navbar-nav text-white h4">
        <li class="nav-item col-4">
           
        </li>
        <li class="nav-item">
        <br>
          <%= link_to 'How-to and FAQs', admin_faq_path, class:"nav-link active h1" %>  <br> 
        </li>
        <li class="nav-item">
          <%= link_to 'Schedule', admin_index_path, class:"nav-link active h1" %>
        </li>
        <br>
        <br> <br>
        
        <li class="nav-item">
        <%= link_to 'Pending', admin_pending_path, class:"nav-link pending active h1" %>
        </li>
        <br>
        <li class="nav-item">
        <%= link_to 'Approved', admin_approved_path, class:"nav-link approved active h1" %>
        </li>
        <br>
        <br>
        <br>
        <br>
        <br>
      </ul>
    
  </div>


