<h2>AVR Management</h2>


<%= form_with(model: Avr) do |form| %>
<%= form.label :avr_name, "New AVR:", style: "display: block" %>
<%= form.text_field :avr_name, style: "display: block" %>
<br>
<%= form.label :avr_status, "Status:", style: "display: block" %>
<%= form.check_box :avr_status, style: "display: block" %>

<div style= "text-align: center;">
                  <%= form.submit "submit" %>
                  </div>
<% end %>

