<p style="color: green"><%= notice %></p>

<h1>Pending Approvals</h1>

<div class ="mt-5 text-center">
<table class="table">
<thead class="thead ">
    <tr>
    <th>Reservation Name</th>
    <th>Reservation Type</th>
    <th>Date Reserved</th>
    <th>Time Reserved</th>
    <th>AVR</th>
    <th></th>
    <th>Actions</th>
    <th></th>
    <th></th>
    </tr>
</thead>

<tbody>

      <% @reservations.each do |reservation| %>
        <tr>
        <td><%= reservation.res_name %></td>
        <td><%= reservation.res_type %></td>
        <td><%= reservation.res_date.strftime("%B %d") %></td>  
        <td><%= reservation.res_time %></td>
        <td><%= reservation.avr %></td>
        <td>

        </td>

        <td>
        <%= link_to "Show reservation", reservation%>
        </td>
        </tr>
      <% end %>
    </tbody>
</table>
</div>
