<span style="text-align: left;"><%= button_to "Back", avrs_path, method: :get %> </span>
<br>
<br>

<p style="color: green, text-align: center;"><%= notice %></p>
<div style="text-align: left;">
<%= form_with(model: avr) do |form| %>
<%= form.label :avr_name, "New AVR:", style: "display: block" %>
<%= form.text_field :avr_name, style: "display: block" %>
<br>
<%= form.label :avr_desc, "Facilities:", style: "display: block" %>
<%= form.text_area :avr_desc, rows: 10, class: "wide-textarea", style: "display: block" %>
<br>
<%= form.label :avr_loc, "Location:", style: "display: block" %>
<%= form.text_field:avr_loc, class: "wide-textarea", style: "display: block" %>
<br>
<%= form.label :is_for_students, "For Students:", style: "display: block" %>
<%= form.check_box :is_for_students, style: "display: block" %>
<br>
<%= form.label :avr_status, "Status:", style: "display: block" %>
<%= form.check_box :avr_status, style: "display: block" %>

<div style= "text-align: center;">
                  <%= form.submit "submit", class: "btn btn-success" %>
                  </div>
<% end %>
</div>
<br>
<br>


