<%= stylesheet_link_tag('application') %>

<div class= "title card">
  <%= month_calendar(events: @reservations) do |date, reservations| %>
  <%= date %>

  <% reservations.each do |reservation| %>
    <div class='d-flex'>
      <div><%= reservation.res_time %></div>
      <div><%= link_to reservation.res_name, reservation_path(reservation) %></div>
    </div>
  <% end %>
<% end %>
</div>

<script>
  var inputCount = 1;

  function addInput() {
    if (inputCount < 5) {
      inputCount++;
      var inputFields = document.getElementById("inputFields");
      var newInput = document.createElement("input");
      newInput.type = "text";
      newInput.name = "input" + inputCount;
      inputFields.appendChild(newInput);
    } else {
      alert("You have reached the maximum number of input fields (5).");
    }
  }
</script>


<script>
  var editableDiv = document.getElementById("editable");

  editableDiv.addEventListener("input", function() {
    // Do something with the edited text, such as save it to a database
    console.log(editableDiv.innerHTML);
  });
</script>

