<%= stylesheet_link_tag('application') %>

<div class= "title card">
<%= month_calendar(events: @reservations) do |date, reservations| %>
  <%= date.strftime("%B %d") %>

     <% reservations.each do |reservation| %>
            <div>
            <%= link_to reservation_path(reservation) do %>
              <% if reservation.res_status == 'Approved'%>
              <span class="buttona"><%= reservation.res_name %></span>
              <% end %>
              <% if reservation.res_status == 'Pending'%>
              <span class="buttonp"><%= reservation.res_name %></span>
              <% end %>
            <% end %>
            </div>
        <% end %>
      	<% end %>
        </div>