<body>

<%= form_with(model: reservation, data:{
  controller: "flatpickr"}) do |form| %>
  <% if reservation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>
      <ul>
      <% reservation.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>

  <% end %>

<div class = "card" style="border-color: black;">
  <div class = "card" style="border-color: black;">
  <div class = "row ">
  <div class = "col" style="text-align: left;">
        <br>
        
        <p>
          <%= form.label :res_name,"Reservation Name:", style: "display: block" %>
          <%= form.text_field :res_name, placeholder: 'ex. CC21 - CCA' %>
        </p>
        
         
 <div class="row">
        
        <p class = "col">
          <%= form.label :res_time, "Time:", style: "display: block" %>
      <%= form.select :res_time, ['7:30 - 9:00 AM', '9:00 - 10:30 AM', '10:30 - 12:00 PM', '12:00 - 1:30 PM', '1:30 - 3:00 PM', '3:00 - 4:30 PM', '4:30 - 6:00 PM', '6:00 - 7:30 PM', '7:30 - 9:00 PM'], :prompt => 'Time' %>      
          </p>

      
          <p class = "col"> 
          <%= form.label :avr, "AVR:", style: "display: block" %>
          
          <% if current_user.email.end_with?('@xu.edu.ph') || current_user.email.end_with?('@admin.com') %>
          <%= form.select :avr, options_for_select(@avrs), prompt: 'AVR #' %>
          <%else%>
          <%= form.select :avr, options_for_select(@avrs_students), prompt: 'AVR #' %>
          <%end%>
          </p>
          <p class= "col">
          <%= form.label :res_type, "Type:", style: "display: block" %>
          <% if current_user.email.end_with?('@gmail.com') %>               
          <%= form.select :res_type, [ 'Non-XU'], :prompt => 'Select One' %>
          <%end%>
          <% if current_user.email.end_with?('@admin.com') %>
          <%= form.select :res_type, [ 'Non-XU', 'Organization', 'class'], :prompt => 'Select One' %>
          <%end%>
          <% if current_user.email.end_with?('@my.xu.edu.ph') %>
          <%= form.select :res_type, [ 'Organization' ], :value => 'Organization' %>
          <%end%>
          <% if current_user.email.end_with?('@xu.edu.ph') %>
          <%= form.select :res_type, [ 'Class', 'Office' ], :prompt => 'Select One' %>
          <%end%> 
         </p>
          <p class="col">
          <%= form.label :sched_days, "Days:", style: "display: block" %>
          <%= form.select :sched_days, [ 'Mo/Thu', 'Tu/Fri', 'Wed/Sat', 'Sun' ], :prompt => 'Select One' %>
          </p>
          <p class= "col"> 
          <%= form.label :date, "Date:", style: "display: block" %>
          <%= form.date_field :res_date, id: :date, :prompt => 'Select One' %>
        </p>
       
        <p class= "col"> 
        </p>
        <p class= "col"> 
        </p>
          </div>
          <br>
          <br>
          <p class>
          <% if current_user.email.end_with?('@admin.com') %>
        <%= form.label :res_status, "Status:", style: "display: block" %>
        <%= form.select :res_status, [ 'Pending', 'Approved'], :prompt => 'Select One'%> 
        <% else %>
        <%= form.text_field :res_status, value: 'Pending', type: :hidden%> 
        <%= form.number_field :user_id, id: :reservation_user_id, value: current_user.id, type: :hidden %>
        <%end%>
        </p>
       
          </div>
  <div class="col">
  <br>
          
        <p>
          <%= form.label :contact_num, "Contact Number:", style: "display: block" %>
          <%= form.number_field :contact_num, placeholder: '09XXXXXXXXX', max: 999_999_999_99, class: 'contact-number-field' %>
          <br>
          


        </p>
        <div class="row">
       
       
        <p class="col">
     
        </p>
        
        </div> 
        <br>
  
      
  
        
  </div>
  </div>
   </div>
      <br>
                  <div style= "text-align: center;">
                  <%= form.submit %>
                  </div>
              </div>
              <div>
              
              </div>
              </div>
              </div>

              </div>
    

     


  <% if current_user.email.end_with?('@admin.com') %>
    <%else %>
    <div>
    <%= form.number_field :user_id, id: :reservation_user_id, value: current_user.id, type: :hidden %>
  </div>
  <div>
    <%= form.number_field :user_email, id: :reservation_user_email, value: current_user.email, type: :hidden%>
  </div>
    <%end%>
    </div>
<% end %>
</body>
