<div id="<%= dom_id reservation %>">
  <p>
    <strong>Reservation Name:</strong>
    <%= reservation.res_name %>
  </p>

  <p>
    <strong>Reservation type:</strong>
    <%= reservation.res_type %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= reservation.contact_num %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= reservation.user_email %>
  </p>
  <p>
    <strong>Reservation Date:</strong>
    <%= reservation.res_date %>
  </p>

  <p>
    <strong>Reservation Time:</strong>
    <%= reservation.res_time %>
  </p>

  <p>
    <strong>Scheduled Days:</strong>
    <%= reservation.sched_days %>
  </p>

  <p>
    <strong>Preferred AVR:</strong>
    <%= reservation.avr %>
  </p>

  <p>
  Date Created:
  <%= reservation.created_at.strftime("%B %d") %>
</p>

</div>
