<div id="<%= dom_id reservation %>">

<div class = "row">
  <div class = "col" style="text-align: left;">
  <br>
  <% if reservation.res_status == 'Pending' %>
  <p style="color: orange">
  <strong style = "color:black">Status:</strong>
  <strong><%= reservation.res_status %> </strong>
</p>
<% else %>
<p style="color: green">
  <strong style = "color:black">Status:</strong>
  <strong><%= reservation.res_status %> </strong>
</p>

<%end%>
  <br>
  <p>
  <div>
    <strong>Reservation Name: </strong> <%= reservation.res_name %>
  </div>
  </p>

  <p>
    <strong>Reservation type:</strong>
    <%= reservation.res_type %>
  </p>

  <p>
    <strong>Contact number:</strong>
     <%= reservation.contact_num %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= reservation.user_email %>
  </p>
 


<br>
<br> 
  
  </div>
  <br>
  <br>
  <div class = "col" style="text-align: left;">
  
  <br>
  
  <br>
  <br>
  <br>
  <p>
  <strong>Reservation Date:</strong>
  <%= reservation.res_date %>
</p>
  <p>
    <strong>Reservation Time:</strong>
    <%= reservation.res_time %>
  </p>

  <p>
    <strong>Scheduled Days:</strong>
    <%= reservation.sched_days %>
  </p>

  <p>
    <strong>Preferred AVR:</strong>
    <%= reservation.avr %>
  </p>
  
  <p style= "text-align: right;">
  <br> <br> <br> <br> <br>
  Date Created:
  <%= reservation.created_at.strftime("%B %d, %Y") %>
  </p>
  </p>

  <div class = "row">
  </div>

</div>

</div>

