<p style="color: green, text-align: center;"><%= notice %></p>
<% if current_user.email.end_with?('@admin.com') %>
<<<<<<< HEAD

=======
<div class="col-4">
<%= link_to "Go Back", admin_pending_path %>
</div>
>>>>>>> fa356815bdd0a8b3c56d74d37a4921c65ac5d7dc
<%else %>
<h1>My Reservations</h1>

<div id="tableContainer">
<table class="table", id="dataTable">
<thead class="thead">
    <tr>
    <th>Reservation Name</th>
    <th>Reservation Type</th>
    <th>Contact Number</th>
    <th>Reservation Date</th>
    <th>Reservation Time</th>
    <th>Scheduled Days</th>
    <th>Preferred AVR</th>
    <th>Status</th>
    <th></th>
  



    <%end%>
    </tr>
</thead>

<tbody>
<% if current_user.email.end_with?('@admin.com') %>

<% else %>

      <% @reservations.each do |reservation|  %>
        <tr>
        <% if reservation.user == current_user || current_user.email.end_with?('@admin.com') && reservation.res_name == reservation.res_name%>
        <td><%= reservation.res_name %></td>
        <td><%= reservation.res_type %></td>
        <td><%= reservation.contact_num %></td>
        <td><%= reservation.res_date.strftime("%B %d, %Y") %></td>
        <td><%= reservation.res_time %></td>
        <td><%= reservation.sched_days %></td>
        <td><%= reservation.avr %></td>
        <% if reservation.res_status == 'Pending' %>
        <td style ="color: orange"><%= reservation.res_status %></td>
        <% else %>
        <td style ="color: green"><%= reservation.res_status %></td>
        <% end %>
         <td>
          <%= button_to "Show", reservation, method: :get, class:"show" %>
        </td>
        <%end%>

        </tr>



        <%end%>
        <% end %>
    </tbody>

</table>
<% if notice %>
<%else%>
  <div>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<%end%>
</div>
