<p style="color: green"><%= notice %></p>

<%= render @reservation %>
<div>
  <%= link_to "Edit this reservation", edit_reservation_path(@reservation) %> 
  <% if current_user.email.end_with?('@admin.com') %>
    <%= link_to "Back to reservations", admin_pending_path %>
    <%else %>
    


<% if current_user.email.end_with?('@admin.com') %>
  <%= button_to "Delete this reservation", @reservation, method: :delete, data: {confirm:'Are you sure?'} %>
</div>
<%else %>

<%= link_to "Back to reservations", reservations_path %>
<%= button_to "Delete this reservation", @reservation, method: :delete, data: {confirm:'Are you sure?'} %>
<%end%>
<%end %>
</div>