
<style>
.center {
  display: block;
  margin: auto;
  width: 25%;
  height: 95%;
  border-radius: 10px;  

  padding: 10px;
  text-align: center;
  background-color: #243A73;
  text-color: white;
}
img{
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.label{
  text-color: white;
}
.field{
  color: white;
}
.btn{
  background-color: #157D20;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 70%;
}
.btn:hover{
  background-color: #157D20;
  color: Black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 70%;
}
input[type=image] {
  width: 80%;
  padding: 12px 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

input {
  width: 80%;
  padding: 12px 20px;
  border-radius: 10px;
  box-sizing: border-box;
}
</style>



<br>
<div class="center">
<div class="logo" style="border-radius: 10px;">
      <%= image_tag("logos/header_logo.png", width:'80%') %>
    </div>

 

    
    <h1 class = "field">Use XU Email Account</h1>
    
    <%= render "devise/shared/links" %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">OR </div>
  <br>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
<br>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>



<br>

  <div class="actions">
  
  <%= button_tag(type: 'submit', class: 'btn') do %>
    Login as Admin
  <% end %>
  </div>
<% end %>
<br>

</div>