<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nereki</title>
    <%= favicon_link_tag asset_path('logos/browser_logo') %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

  <body>
    <% render 'layouts/alerts' %>
    <div class ="row">
      <div class= "col-4 p-3 mb-2">
      <% if current_user.present? && current_user.email.end_with?('@admin.com') %>
        <%= render 'admin/header' %>
       <% elsif current_user.present? && current_user.email.end_with?('@staff.com') %>
       <%= render 'admin/header' %>
       <% else %>
       <%= render 'home/header' %>
       <% end %>
       </div>
    <div class= "col">
    <div class="card">
    <div style="text-align: right;">
    
    <% if current_user %>
   <%= current_user.full_name %>
  


   <% if current_user.email.end_with?('@my.xu.edu.ph') %>
    | Student
    <% end %>
    <% if current_user.email.end_with?('@xu.edu.ph')  %>
    | Teacher
    <% end %>
    <% if current_user.email.end_with?('@staff.com')  %>
    | STAFF
    <% end %>
    <% if current_user.email.end_with?('@admin.com')  %>
     ADMIN
    <% end %>
    |
    <%= link_to "Edit Profile", edit_user_registration_path %>
    <br>
    <br>
    <%= button_to "Logout", destroy_user_session_path, class: 'btn btn-dark', data: {turbo: "false"}, method: :delete %>
    <% else %>
    <%= button_to "Login", new_user_session_path, class:'btn btn-light' %>
    <% end %>
    
    <div style="text-align: left;">
    <%= yield %>
    </div>
   </div>
 
   
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    
    </div>
    </div>
    </div>
    
    <%= render 'home/footer' %>
    <script>
    <% if current_user.present? && current_user.email.end_with?('@admin.com')%>
  
   
    flatpickr("#date", {
    dateFormat: "d-m-Y",
    minDate: "today"
       });
    <% else %>
        flatpickr("#date", {
    disable: ["today"],
    dateFormat: "d-m-Y",
    disable: [
        {
            from: "2020-09-01",
            to: "today"
        }
    ]
    });
    <%end%>
    </script>
    </body>
</html>
